script(src="/javascripts/Libraries/jquery-3.6.0.min.js")
script(src="/javascripts/Libraries/bootstrap.bundle.min.js")
script(src="/javascripts/Libraries/jquery.easy-autocomplete.min.js")
script(src="/javascripts/Libraries/selectize.min.js")
script(src="/javascripts/Libraries/iziToast.min.js")
script(src="/javascripts/Libraries/datatables.min.js")
script(src="/javascripts/Libraries/colReorder/dataTables.colReorder.min.js")
script(src="/javascripts/Libraries/buttons.flash.min.js")
script(src="/javascripts/Libraries/jszip.min.js")
script(src="/javascripts/Libraries/vfs_fonts.js")
script(src="/javascripts/Libraries/buttons.html5.min.js")
script(src="/javascripts/Libraries/buttons.print.min.js")
script(src="/javascripts/Libraries/jspdf.min.js")
script(src="/javascripts/Libraries/jspdf.plugin.autotable.js")
script(src="/javascripts/Libraries/select2.min.js")
script(src="/javascripts/Libraries/select2.full.js")
script(src="/javascripts/Libraries/select2.full.min.js")
script(src="/javascripts/Libraries/moment.js")
script(src="/javascripts/Libraries/function-libraries.js")
script(src="/javascripts/Libraries/password-strength.js")
script(src="/javascripts/Libraries/daterangepicker.min.js")
script(src="/javascripts/Libraries/vis-network.min.js")
script(src="/javascripts/helper.js")
script(src="/javascripts/Libraries/buttons.colVis.min.js")
script(src="/javascripts/Libraries/sweetalert2.bundle.js")
